mlflow-skinny
faker==37.6.0
pandas==2.3.2
numpy==2.0.2
datetime==5.5
logging==0.4.9.6
sqlalchemy==1.4.54
apache-airflow==3.0.6
streamlit==1.49.1
plotly==6.3.0
psycopg2-binary==2.9.5
python-dotenv==1.1.1
scikit-learn==1.6.1
mlflow==3.1.4
mlflow-skinny==3.1.4